:root {
    --primary-color: rgb(76,159,255);
    --secondary-color: rgb(29,166,227);
    --background-color: rgb(255,255,255);
    --text-color: rgb(42,50,54);
    --button-color: rgb(0,225,165);
    --border-color: rgb(144,156,158);
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
  }
  
  h1, h5 {
    color: var(--text-color);
  }
  
  .navbar-toggler {
    border-color: var(--secondary-color);
  }
  
  .navbar-nav .nav-link {
    color: var(--secondary-color);
  }
  
  .navbar-nav .nav-link:hover {
    color: var(--primary-color);
  }
  
  .task-form input,
  .task-form textarea,
  .task-form select {
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }
  
  .task-form button {
    background-color: var(--button-color);
    border: none;
    color: white;
  }
  
  .task-form button:hover {
    background-color: var(--secondary-color);
  }
  
  .list-group-item {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-color);
  }
  
  .list-group-item h5 {
    color: var(--text-color);
  }
  
  .list-group-item .btn {
    background-color: var(--primary-color);
    color: white;
  }
  
  .list-group-item .btn:hover {
    background-color: var(--secondary-color);
  }
  
  @media (max-width: 767px) {
    .navbar-nav {
      background-color: var(--secondary-color);
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
    }
  
    .navbar-nav .nav-item {
      text-align: center;
      margin: 10px 0;
    }
  }
  
  /* Ajuste para garantir que o ícone do hamburger fique visível */
  .navbar-toggler {
    border: none;
    background: transparent;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
    width: 30px; /* Ajuste o tamanho do ícone se necessário */
    height: 3px; /* A espessura da linha */
    display: block;
    position: relative;
  }
  
  .navbar-toggler-icon:before,
  .navbar-toggler-icon:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 0;
  }
  
  .navbar-toggler-icon:before {
    top: -8px;
  }
  
  .navbar-toggler-icon:after {
    top: 8px;
  }
  